body {
  background-color: wheat;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  background-color: white;
  flex: 0 0 auto;
}

#grid {
  margin: auto;
  border: 2px solid black;
}

#options {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 20px;
}

#header {
  text-align: center;
}

button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 4px;
}

.black {
  color: white;
  background-color: black;
}

.rgb {
  color: black;
  background-image: url("./images/rgb.gif");
}

.erase {
  color: black;
  background: pink;
}
