.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
}

#grid {
}

#options {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 20px;
}

#header {
  text-align: center;
}
